body{
	margin: 0;
	padding: 0;
	background: #4E4234;
}
div.header-box {
	height: 70px;
	background: #000;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.30);
}
div.header {
	background: #35592F url('textures/circles.png');
	height: 70px;
	margin: 0;
	padding: 0;
	box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.50) inset;
	color: #FFF;
}
div.content {
	width: 1000px;
	margin: 0 auto;
}
div.chains {
	position: absolute;
	top: 42px;
	z-index: 10;
}
div.chains ul {
	margin-left: 8px;
	float: left;
}
div.chains ul.first {
	margin-left: 31px;
}
div.chains ul li {
	float: left;
	list-style: none;
}
div.chains ul li.first {
	margin-right: 162px;
}
div.top_nav {
	width: 961px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	top: 6px;
}
div.top_nav ul {
}
ul.boards li {
	float:left;
	list-style: none;
	display: block;
	height: 1.5em;
	width: 214px;
	margin-left: 20px;
	font-size: 30px;
	background: #11A0D9 url('textures/texture.png');
	text-align: center;
	border-radius: 9px;
	color: #FFF4E8;
	text-shadow: 1px 1px 0 rgba(2, 83, 115, 0.7);
	line-height: 1.4em
}
ul.boards li.first {
	margin-left: 0;
}
ul.boards li span {
	margin: auto auto;
}
